{% extends 'personalP/base.htm' %} {% block content %}
<div class="showcase-about" id="showtext">
<div class="showcase-img">
  <img
    src="https://static1.squarespace.com/static/59e38721b7411c07ef1d73b9/t/5c00b524b8a045db8c92144d/1543549586838/Profile+Front.jpg"
    alt="My pic"
  />
</div>



<div class="showcase-text" >
  <h1>What I do</h1>
  <h3>Android App Developer</h3>
  <p>I do code on Android studio, React-native, XML for front-end</p>
  <h3>Web Developer</h3>
  <p>I do code on PHP, Django, Angular, Firebase, HTML, CSS3</p>
  <h3>Indie Game Developer</h3>
  <p>I do code on Unity Game Engine</p>
</div>
</div>
<div class="line1">
  <a href="https://www.instagram.com/vk.himanshu/" target="blank">
<i class="fa fa-instagram" style="font-size:24px"></i></a>&nbsp;&nbsp;
<a href="https://www.youtube.com/channel/UCMZOZbBzDOvGm8VkVKuYgBw" target="blank">
<i class="fa fa-youtube" style="font-size:24px"></i></i></a>
</div>
{% endblock%}
