{% extends 'personalP/base.htm' %} {% block content %} {% load static %}
<div id="resume-show">
  <div class="resume-img">
    <img src="{% static 'personalP/document.png' %}" alt="" />
  </div>
  <div class="resume-link">
    <a
      href=" https://drive.google.com/open?id=162fAeqa1fRrY4HWSujnAWyDzqqNmev02"
      target="blank"
      >Download Resume</a
    >
  </div>
  <div class="home-resume">
    <p>
      I've always been drawn to the overlap between design and development. My
      skills are broad: from ux to design, front end to back end development. I
      enjoy each aspect, and love building sites & mobile apps from start to
      finish, for clients all over the world
    </p>
    <strong>Himanshu kumar.</strong>
  </div>

  <div class="line"></div>
  <div class="resume-contact">
    <strong>CONTACT</strong>
    <P>hvk940@gmail.com</P>
    <p>+91-8882113578</p>
  </div>
</div>
{% endblock%}
